@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.footer {
  padding: 16px;
  &.light {
    background-color: map-get(v.$light-theme, second-bg);
    color: map-get(v.$light-theme, text-color)
  }
  &.dark {
    background-color: map-get(v.$dark-theme, second-bg);
    color: map-get(v.$dark-theme, text-color)
  }
}

.text {
  font-size: 14px;
  text-align: center;
}