@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.header {
  background-color: #252525;
  padding: 16px;
}

.headerContents {
  max-width: v.$pcWidth;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.link {
  color: #fff;
  font-size: v.$TEXT_XL;
  font-weight: bold;
  text-decoration: none;
  @include m.md {
    font-size: v.$TEXT_2XL;
  }
}

.active {
  color: #FF7C7C;
}