@use "../styles/variables" as v;
@use "../styles/mixins" as m;


.header {
  padding: 16px;
  position: sticky;
  top: 0;
  &.dark {
    background-color: map-get(v.$dark-theme, second-bg);
  }
  &.light {
    background-color: map-get(v.$light-theme, second-bg);
  }
}


.headerContents {
  max-width: v.$pcWidth;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.link {
  font-size: v.$TEXT_XL;
  font-weight: bold;
  text-decoration: none;
  @include m.md {
    font-size: v.$TEXT_2XL;
  }
  &.light {
    color: map-get(v.$light-theme, text-color);
  }
  &.dark {
    color: map-get(v.$dark-theme, text-color);
  }
  &.active {
    text-decoration: underline;
  }
}


.headerItem {
  display: flex;
  gap: 8px;
  align-items: center;
  @include m.md {
    gap: 16px;
  }
}