/* Fonts */
$TEXT_2XS:  10px;
$TEXT_XS:  12px;
$TEXT_SM:   14px;
$TEXT_BASE: 16px;
$TEXT_LG:   18px;
$TEXT_XL:   20px;
$TEXT_2XL:  24px;
$TEXT_3XL:  32px;
$TEXT_4XL:  40px;
$TEXT_5XL:  48px;

/* Color */
$WHITE: #fff;

/* Container */
$pcWidth: 1200px;